@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

body {
  box-sizing: border-box;
  background-color: #eee;
}

body a {
  color: #24890d;
  &:hover {
    color: lighten(#24890d, 10%);
  }
}

h1 {
  a {
    display: block;
    height: 100%;
  }
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  background-image: url( '../static/logo.jpg' );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 5px;
  height: 80px;
}

.uploadbutton {
  position: relative;
  top: 29px;
  @media ( max-width: 430px ) {
    transform: scale( 0.8 );
    transform-origin: 100% 100%;
    top: 18px;
  }
  .ui.button {
    background-color: #24890d;
    color: #fff;
  }
}

.content {
  position: relative;
  background-color: #fff;
  width: 100%;
  flex-grow: 1;
  max-width: 980px;
  padding: 0 20px 30px 20px;
  margin: 0 auto;
}

.grid.container {
  margin-top: 5em;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

#sosicon_log {
  background-color: #fcfcfc;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  height: 400px;
  overflow-y: scroll;
  font-family: "Oxygen Mono", monospace;
  font-size: 12px;
  @media ( min-width: 481px ) and ( max-width: 660px ) {
    font-size: 10px;
  }
  @media ( min-width: 421px ) and ( max-width: 480px ) {
    font-size: 9px;
  }
  @media ( max-width: 420px ) {
    font-size: 8px;
  }
  border: solid 1px #ddd;
  padding: 20px;
  list-style-type: none;
  margin: 10px 0 0 0;
  li {
    color: #555;
    &.green {
      color: #24890d;
    }
    &.red {
      color: #880000;
    }
    &.blink {
      -webkit-animation-name: blinker;
      -webkit-animation-iteration-count: 3;
      -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
      -webkit-animation-duration: 0.7s;
      &.infinite {
        -webkit-animation-iteration-count: infinite;
      }
    }
    &.blink, em {
      font-weight: bold;
    }
    .cursor {
      font-weight: bold;
      -webkit-animation-name: blinker;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
      -webkit-animation-duration: 0.6s;
    }
    color: #000;
    white-space: pre;
  }
}

#sosicon_result {
  padding: 20px;
  width: 100%;
  h3.item {
    border-top: none !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px !important;
    color: #000 !important;
  }
  .item {
    &, .content .header {
      color: #24890d !important;
    }
    .content {
      .description {
        strong, span {
          white-space: nowrap;
          &.filetype {
            display: block;
          }
        }
      }
    }
  }
}
